NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=<retrieved-via-clerk-console>
CLERK_SECRET_KEY=<retrieved-via-clerk-console>
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_API_URL="localhost:3000"